/*@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");*/

h4 {
  font-weight: bold;

}


/*
body {
  background-color: #fff;
}


#base_ine {
  color: red;
  
}

#file_progress {

  background-color: blue;
  margin-bottom: 0;
}

.btn-file {
  color: red;
}

.well {border-color: red;}
.selectize-input {border-color: red;}
*/